<!-- Services Section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Services</h2>
        <!-- <h3 class="section-subheading text-muted">
          Lorem ipsum dolor sit amet consectetur.
        </h3> -->
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6">
        <div class="custom-icon">
          <img src="img/services/golf-icon.png" alt="golf panels" />
        </div>
        <h4 class="service-heading">Golf Simulator Panels</h4>
        <p class="text-muted">Impact protection, custom fit</p>
      </div>
      <div class="col-md-6">
        <div class="custom-icon">
          <img src="img/services/acoustic-icon.png" alt="acoustic panels" />
        </div>
        <h4 class="service-heading">Acoustic Panels</h4>
        <p class="text-muted">Reduce noise, improve sound</p>
      </div>
    </div>
  </div>
</section>
